<div class="content">
  <h2 class="ramen-name"><%= ramen.name %></h2>
  <div class="ramen-store"><%= shop_tag ramen %></div>
  <div class="ramen-img"><%= image_tag ramen.picture %></div>
  <% ramen.tastes.each do |taste| %>
    <span><%= link_to taste.name, tastes_ramen_index_path(taste.id), {class: ["ramen-taste", "marker"]} %></span>
  <% end %>
  <%= link_to ramen_comments_path(ramen), {class: ["line-none", "ramen-comments"]} do %>
    <div><%= "コメント(#{ramen.comments.length})" %></div>
  <% end %>
  <%= link_to ramen_likes_path(ramen), {class: ["line-none", "ramen-likes"]} do %>
    <div><%= "食べたい(#{ramen.likes.length})" %></div>
  <% end %>
  <div class="profile">
    <%= link_to image_tag("NCM_0561.JPG", {size: "40x40", class: "profile-img"}), users_ramen_path(ramen.user.code) %>
    <div class="profile-name">
      <%= link_to users_ramen_path(ramen.user.code) do %>
        <div>
          <%= content_tag :span, ramen.user.name || ramen.user.code, {class: "user-name"} %>
          <%= "@#{ramen.user.code}" %>
        </div>
      <% end %>
      <div><%= link_to "1時間前", ramen_path(ramen.id) %></div>
    </div>
  </div>
</div>
