<%= form_for @comment, url: {action: 'create'} do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="comments">
    <div class="comments-border">
      <div class="comments-profile">
        <%= image_tag "NCM_0561.JPG", {size: "30x30", class: "profile-img"} %>
        <div class="comments-profile-name">
          <div>
            <%= link_to current_user.name || current_user.code, users_ramen_path(current_user.code), {class: "user-name"} %>
            <%= "@#{current_user.code}" %>
          </div><br>
        </div>
        </div>
          <%= f.text_area :body, class: "comments-form" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
