<%= form_for(@ramen) do |f| %>
  <% if @ramen.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ramen.errors.count, "error") %> prohibited this ramen from being saved:</h2>

      <ul>
      <% @ramen.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="content">
        <div class="field">
          <%= "ラーメンの名前" %>
          <%= f.text_field :name %>
        </div>

      <%= f.fields_for :ramen_shop do |s| %>
        <div class="field">
          <%= "お店の名前" %>
          <%= link_to modal_shops_path, {remote: :ture, class: ["modal-open", "button-link"]} do %>
            <div class="select-link">
              <%= "選ぶ" %>
            </div>
          <% end %>
          <span id="select_shop"></span>
          <%= s.hidden_field :shop_id %>
        </div>
      <% end %>

        <div class="field">
          <%= "ラーメンの写真" %>
          <%= image_tag @ramen.picture if @ramen.picture? %>
            <div class="select-link">
              <%= "選ぶ" %>
              <%= f.file_field :picture, {class: "file-input"} %>
              <%= f.hidden_field :picture if @ramen.picture_cache %>
            </div>
            <div class="ramen-img">
              <%= image_tag "ramen.png" %>
            </div>
            <div class="file-name"></div>
        </div>

      <%= f.fields_for :ramen_tastes do |t| %>
        <div class="field">
          <%= "スープの味" %>
          <%= link_to modal_tastes_path, {remote: :ture, class: ["modal-open", "button-link"]} do %>
            <div class="select-link">
              <%= "選ぶ" %>
            </div>
          <% end %>
          <span id="select_tastes"></span>
          <div id="tastes-fields"><%= t.hidden_field :taste_id %></div>
        </div>
      <% end %>
  </div>

  <div class="actions">
    <%= f.submit "食べた" %>
  </div>
<% end %>

<div id="modal-content">
  <div><a id="modal-close" class="button-link" onclick="hide_modal();">×</a></div>
  <div id="modal-body"></div>
</div>

<script type="text/javascript">
  $(".modal-open").click(function(){
    $(this).blur();
    if($("#modal-overlay")[0]) $("#modal-overlay").remove();
    //centeringModalSyncer();
  });

  function hide_modal(){
    $("#modal-content, #modal-overlay").fadeOut("slow",function(){
      $("#modal-overlay").remove();
      $("#modal-body").replaceWith('<div id="modal-body"></div>');
    });
  };

  function centeringModalSyncer(){
    //画面(ウィンドウ)の幅を取得し、変数[w]に格納
    var w = $(window).width();
    //画面(ウィンドウ)の高さを取得し、変数[h]に格納
    var h = $(window).height();
    //コンテンツ(#modal-content)の幅を取得し、変数[cw]に格納
    //var cw = $("#modal-content").outerWidth({margin:true});
    //コンテンツ(#modal-content)の高さを取得し、変数[ch]に格納
    //var ch = $("#modal-content").outerHeight({margin:true});
    var cw = $("#modal-content").width();
    var ch = $("#modal-content").height();
    //コンテンツ(#modal-content)を真ん中に配置するのに、左端から何ピクセル離せばいいか？を計算して、変数[pxleft]に格納
    var pxleft = ((w - cw)/2);
    //コンテンツ(#modal-content)を真ん中に配置するのに、上部から何ピクセル離せばいいか？を計算して、変数[pxtop]に格納
    var pxtop = ((h - ch)/2);
    //[#modal-content]のCSSに[left]の値(pxleft)を設定
    $("#modal-content").css({"left": pxleft + "px"});
    //[#modal-content]のCSSに[top]の値(pxtop)を設定
    //$("#modal-content").css({"top": pxtop + "px"});
    $("#modal-content").css({"top": "100px"});
  };

  $(function() {
    $('.file-input').on("change", function() {
      console.log(window.FileReader);
      var file = this.files[0];
      if(file != null) {
        console.log(file);
        $(".file-name").text(file.name);
      }
      fr = new FileReader();
      fr.onload = function() {
        return $(input).siblings("div").find("img").attr('src', fr.result);
      };
      return fr.readAsDataURL(file);
    });
  });
</script>