<p id="notice"><%= notice %></p>

<div class="comments-main">
  <div class="ramen"><%= render partial: 'share/ramen', locals: {ramen: @ramen} %></div>

  <% @comments.each do |comment| %>
    <div class="comments">
      <div class="comments-border">
        <div class="comments-profile">
          <%= image_tag "NCM_0561.JPG", {size: "30x30", class: "profile-img"} %>
          <div class="comments-profile-name">
            <div>
              <%= link_to comment.user.name || comment.user.code, users_ramen_path(comment.user.code), {class: "user-name"} %>
              <%= "@#{comment.user.code}" %>
            </div>
            <div><%= "1時間前" %></div>
          </div>
        </div>
        <div class="comments-body"><%= comment.body %></div>
      </div>
    </div>
  <% end %>
</div>

<br>
<%= render partial: 'comments/form', locals: {comment: @comment} %>
<%#= link_to 'New Comment', new_ramen_comment_path(@ramen.id) %>